.filtros{
    background-color: black;
    color:white;
}

.paginado{
    background-color: black;
    border-bottom-width: 3px;
    border-bottom-style:solid;
    border-bottom-color: black;
}
.back{
    background-color: #92a8d1;
    min-height: 100vh
}
