.card{
    margin: 20px;
    height: 160px;
    width: 160px;
}
.container{
    margin-left: 40%;
    color: black;
    background-color: bisque;
    border-radius: 5px;
    box-shadow: 6px 10px black;
    width: 300px;
    
}